nav {
  min-height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    border: none;
    background: transparent;
    padding: 0.5rem;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    transition: all 0.5s ease-in-out;
    outline: none;
    border-radius: 0.2rem;
    &:hover {
      background: rgb(65, 65, 65);
      color: #fff;
    }
  }
}
